.img-filosofo-sb{
    width: 50%;
    height: 60%;
    margin-left: 6%;
    margin-right: 6%;
}
.img-logo{
    width: 40%;
    height: 50%;
}

.btn-quadrado {
    border-radius: 6px;
}

body {
    font-family: sans-serif;
}
