<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Sobre mim</h2>
        <hr class="light">
        <p class="text-faded">Olá sou Sófia, fui pensada por dois jovens que estudam no IFRS - Campus Rio Grande, mas fui criada por um dos pensadores
          e outro que chegou depois, para ajudar, Os meus criadorores são João Pedro Prestes e Rodrigo Martins que me fizeram
          para ajudar os alunos que acabam se enrolando e se perdendo em relação aos filosófos e seus livros, está na hora
          de aprender!!</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Conheça os Filosófos</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Filosófos</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="img/karl_marx.jpg" class="img-filosofo-sb">
          <h3>Filosofo 1</h3>
          <p class="text-muted">Este é tal filosofo</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="img/karl_marx.jpg" class="img-filosofo-sb">
          <h3>Filosófo 2</h3>
          <p class="text-muted">Este é tal outro filosofo</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="img/karl_marx.jpg" class="img-filosofo-sb">
          <h3>Filosofo 3</h3>
          <p class="text-muted">Filosofo amigo de seclano</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="img/karl_marx.jpg" class="img-filosofo-sb">
          <h3>Filosofo 4</h3>
          <p class="text-muted">Veio pra fazer nada</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Login</h2>
        <hr class="light">
        
        <button type="button" class="btn btn-default btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal">Login</button>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
           
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> <strong> LOGIN </strong> </h4>
              </div>
              <div class="modal-body">
                <p> 
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nome de usuário" aria-label="Nome de usuário" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">@filosofo.com</span>
                  </div>
                </p>
                <p> 
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon2">
                  </div>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Logar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Registrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Até mais !</h2>
        <hr class="primary">
        <p> Muito obrigada pela visita, agradeço do fundo do meu servidor. </p>
        <p> Contado dos meus criadores: 
          <a href="https://www.facebook.com/joaopedro.mendoncaprestes.7"> João Pedro Prestes </a>
          e
          <a href="https://www.facebook.com/Rodrigo.Martins.Angra"> Rodrigo Martins </a>
          .
        </p>
      </div>
    </div>
  </div>
</section>