<div class="container">
    <section class="p-0" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Cidade de Deus
                            </div>
                            <div class="project-name">
                            Santo Agostinho
                            </div>
                        </div>
                        </div>
                    </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                          <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                            <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                            <div class="portfolio-box-caption">
                             <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Suma Teológica
                            </div>
                            <div class="project-name">
                            São Tomás de Aquino
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        Discurso do Método
                        </div>
                        <div class="project-name">
                        René Descartes
                        </div>
                    </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Ética a Nicômaco
                            </div>
                            <div class="project-name">
                            Aristóteles
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Apologia de Socrates
                            </div>
                            <div class="project-name">
                            Platão
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            República
                            </div>
                            <div class="project-name">
                            Platão
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <button type="button" class="btn btn-dark btn-lg btn-block btn-quadrado"> TODOS LIVROS </button>
    <button type="button" id="deslogar" class="btn btn-default btn-lg btn-block btn-quadrado"> DESLOGAR </button>
</div>

<script src="js/livros.js"></script>