<section class="bg-primary" id="dados">
            <div class="container">
                
                <div class="row">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td>Nome: </td>
                                <td id="nome"></td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td id="email"></td>
                            </tr>
                            <tr>
                                <td>Username: </td>
                                <td id="username"></td>
                            </tr>
                            <tr>
                                <td>ALTERAR DADOS</td>
                                <td> <button id="deslogar"> Deslogar </button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</section>
<section class="bg-white" id="livros">
    <div class="container">
        <div class="row">
            <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do Livro</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>A cidade de Deus</td>
                    <td>427</td>
                    <td>Santo Agostinho</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Suma Teológica</td>
                    <td>...</td>
                    <td>São Tomas de Aquino</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>DESLOGAR</td>
                    <td>...</td>
                    <td> <button id="deslogar"> Deslogar </button> </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Sobre mim</h2>
                <hr class="light">
                <p class="text-faded">Olá sou Sófia, fui pensada por dois jovens que estudam no IFRS - Campus Rio Grande, mas fui criada por um
                    dos pensadores e outro que chegou depois, para ajudar, Os meus criadorores são João Pedro Prestes e Rodrigo
                    Martins que me fizeram para ajudar os alunos que acabam se enrolando e se perdendo em relação aos filosófos
                    e seus livros, está na hora de aprender!!</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Conheça os Filosófos</a>
            </div>
        </div>
    </div>
</section>
<script src="js/perfil.js"></script>